<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <div th:replace="main"></div>
</head>
<style>
    #body{
        width: 500px;
        height: 300px;
        margin: auto;
        margin-top: 100px;
    }
</style>
<body>



<div id="body">
    <a class="btn btn-warning" href="/index?urlName=register">注册</a><br/>
    <a class="btn btn-danger" href="/index?urlName=alogin">管理员登录</a><br/>
    <a class="btn btn-success" href="/index?urlName=login">用户登录</a>
</div>

</body>
</html>